body{
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;;
}
/* #00a400 */
img{
    padding: 5%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 20vw;

}
a{
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 5%;
    font-size: 16px;
}
.inputText{
    padding: 5%;
    margin: 5%;
    width: 20vw;
    border-radius: 6px;
}
.password{
    margin-top: 0;
}
.dob{
    padding-bottom: 5%;
}
.nameDiv{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
.firstName{
    width: 140px;
    padding-right: 12px;
    height: 30px;
    border-radius: 6px;
}
.lastName{
    width: 140px;
    padding-left: 11px;
    height: 30px;
    border-radius: 6px;
}
.gender{
    display: flex;
    flex-direction: row;
}
.page{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagebg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 30vw;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.submitBtn{
    color: #fff;
    background-color: #00a400;
    font-size: 28px;
}
